{% extends 'base.html' %}

{% block title %}
  LogIn
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto social-container my-2 order-md-1">
        <button class="btn btn-primary mb-2">
            <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
        </button>
        <button class="btn btn-info mb-2">
           <a href="{% url 'social:begin' 'linkedin-oauth2' %}">Login with LinkedIn</a>
        </button>
    </div>
</div>
<div class="row justify-content-center">
  <div class="media-container-column col-lg-6" data-form-type="formoid">
    <form method="post">
      {% csrf_token %}
        <div class="card">
          <h5 class="card-header">User authorisation</h5>
          <div class="card-body">
            {% for field in form %}
            <h5 class="card-title">{{ field.label_tag }}</h5>
            <p class="card-text col-4">{{ field }}
              {% for error in field.errors %}
                <small class="text-danger card-text">{{ error }}</small>
              {% endfor %}</p>
            {% endfor %}
            <div class="form-actions text-right">
              <button type="submit" class="btn btn-lg btn-success col-4">LogIn</button>
            </div>
          </div>
        </div>
    </form>
  </div>
</div>
{% endblock content %}