{% extends 'base.html' %}

{% block title %}
  LogOut
{% endblock title %}

{% block content %}
<div class="col-lg-12">
  <div class="card text-center border border-success mx-auto" style="width: 35rem; margin-top: 60px; margin-bottom: 60px">
    <h4 class="card-header text-success">You have been logged out!</h4>
    <div class="card-body">
      <p class="text-info"><small>In 5 seconds you will be redirected to the main page ...</small></p>
    </div>
  </div>
</div>
<script>setTimeout('window.location = "/";', 5000)</script>
{% endblock content %}